<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/team">Team</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <p class="copyright">Copyright © <a href="https://primesolar.github.io/web-developer/">Vladislav Kazantsev</a> <%= new Date().getFullYear() %></p>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<!-- Font Awesome for Badges -->
<script src="https://kit.fontawesome.com/e5e31f0342.js" crossorigin="anonymous"></script>
<!-- Custom Reusable Web Components -->
<script type="text/javascript" src="/scripts/elements-min.js"></script>
</body>

</html>
