<%- include("partials/header.ejs") %>

<div>
  <h1 class="title">About</h1>
  <h2 class="subtitle">Discover Our Mission and Values</h2>
  <img class="logo" src="images/logo.jpg" alt="The Ocean-Minded Logo Image" />
  <p>
    At Ocean-Minded, we believe that the ocean is a source of inspiration,
    adventure, and connection. Founded by a team of passionate ocean
    enthusiasts, our mission is to create unforgettable travel experiences that
    immerse you in the beauty and wonder of the marine world.
  </p>
  <p>
    Our journey began with a simple idea: to share the beauty of the ocean with
    travelers from all walks of life. We understand that each traveler has
    unique interests and desires, that is why we specialize in crafting
    personalized itineraries that lead to your individual preferences. Whether
    you're looking for thrilling water sports, serene beach getaways, or
    cultural explorations, we are dedicated to designing the perfect adventure
    for you.
  </p>
  <p>
    Sustainability is at the heart of everything we do. We recognize the
    importance of preserving the delicate ecosystems that make our destinations
    so special. Our commitment to responsible travel practices ensures that your
    adventures not only enrich your life but also contribute positively to the
    environment and local communities. By choosing Ocean-Minded, you are joining
    us in our mission to protect the oceans we cherish.
  </p>
  <p>
    Our team consists of experienced travel experts, marine biologists, and
    local guides who are passionate about sharing their knowledge and love for
    the ocean. We take pride in our ability to connect travelers with authentic
    experiences that foster a deeper understanding of marine life and coastal
    cultures.
  </p>
  <p>
    Join us as we explore the breathtaking beauty of the ocean, from vibrant
    coral reefs to majestic marine wildlife. Discover hidden gems and popular
    destinations that will leave you with lasting memories and a renewed
    appreciation for the natural world.
  </p>
  <p>
    Thank you for considering Ocean-Minded as your travel partner. We invite you
    to embark on a journey with us that will inspire, rejuvenate, and connect
    you with the wonders of the sea.
  </p>
</div>

<%- include("partials/footer.ejs") %>
