<%- include("partials/header.ejs") %>

<div class="container">
  <h1 class="title">Ocean-Minded</h1>
  <img class="logo" src="images/logo.jpg" alt="The Ocean-Minded Logo Image" />
  <p>
    We create travel experiences that connect you with the beauty of the ocean
    world.
  </p>
  <h2>Explore Our Destinations</h2>
  <p>
    From the pristine beaches of the Caribbean to the rugged coastlines of the
    Pacific Northwest, our carefully curated destinations offer something for
    every traveler. Dive into vibrant coral reefs, sail through crystal-clear
    waters, or simply unwind on a sun-kissed shore. Each location is chosen for
    its unique charm and the incredible experiences it offers.
  </p>
  <h2>Tailored Experiences</h2>
  <p>
    At Ocean Minded, we understand that every traveler is unique. That's why we
    offer personalized itineraries designed to match your interests and
    preferences. Whether you're an avid sailor, a snorkeling enthusiast, or
    someone looking to escape the hustle and bustle of everyday life, our team
    of experts is here to craft the perfect ocean adventure just for you.
  </p>
  <h2>Sustainable Travel</h2>
  <p>
    We are committed to protecting the oceans we love. Our sustainable travel
    practices ensure that your adventures have a positive impact on the
    environment and local communities. By choosing Ocean Minded, you’re not just
    exploring the beauty of the sea; you’re also helping to preserve it for
    future generations.
  </p>
  <h2>Join Us on an Adventure</h2>
  <p>
    Are you ready to embark on a journey that will inspire and rejuvenate you?
    Explore our website to discover our exciting travel packages, read
    testimonials from fellow ocean lovers, and learn more about our commitment
    to sustainability.
  </p>
  <p>
    Let Ocean Minded be your guide to the wonders of the sea. Dive in and start
    your adventure today!
  </p>
</div>

<%- include("partials/footer.ejs") %>
