<%- include("partials/header.ejs") %>

<main class="no-padding">
  <noscript
    >Activate JavaScript to enjoy enhanced features of the
    application.</noscript
  >
  <div id="custom-cards">
    <h1 class="title pb-2">Our Services</h1>
    <p class="lead mb-4">
      At Ocean-Minded, we offer a range of services designed to enhance your
      travel experience. Explore our offerings below:
    </p>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div
          class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg"
          style="background-image: url('images/snorkeling.jpg')"
        >
          <div
            class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
          >
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
              Snorkeling Adventures
            </h3>
            <p class="card-text text-white">
              Experience the vibrant underwater world with our guided snorkeling
              tours. Perfect for all skill levels!
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div
          class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('images/sailing.jpg')"
        >
          <div
            class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
          >
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
              Sailing Excursions
            </h3>
            <p class="card-text text-white">
              Join us for a sailing adventure on the open sea. Enjoy
              breathtaking views and the thrill of the wind in your sails.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div
          class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('images/beach.jpg')"
        >
          <div
            class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
          >
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
              Beach Getaways
            </h3>
            <p class="card-text text-white">
              Relax and unwind on some of the most beautiful beaches in the
              world. Our beach getaways are perfect for rejuvenation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>
