<%- include("partials/header.ejs") %>

<main>
  <div class="container-wider px-4 py-5" id="badge-grid">
    <h1 class="title">Meet Our Team</h1>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
    >
      <div class="col d-flex align-items-start">
        <div
          class="bi flex-shrink-0 me-3 teammate"
          style="background-image: url('images/teammate1.jpg')"
        ></div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
            Christopher Johnson
          </h3>
          <p>
            Christopher is our Technology Specialist, dedicated to creating web
            applications. He enhances the user experience, making it
            enjoyable and memorable for everyone who interacts with our
            services.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="bi flex-shrink-0 me-3 teammate"
          style="background-image: url('images/teammate2.jpg')"
        ></div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Liam Smith</h3>
          <p>
            Liam is our Adventure Coordinator, specializing in creating
            unforgettable experiences. With years of sailing and diving
            experience, he curates personalized itineraries that cater to
            thrill-seekers and relaxation enthusiasts alike.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="bi flex-shrink-0 me-3 teammate"
          style="background-image: url('images/teammate3.jpg')"
        ></div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Sophia Lee</h3>
          <p>
            Sophia is our Marketing Guru, known for her creative storytelling.
            She crafts compelling narratives that showcase the beauty of our
            destinations, inspiring travelers to embark on their next ocean
            adventure with us.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="bi flex-shrink-0 me-3 teammate"
          style="background-image: url('images/teammate4.jpg')"
        ></div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Noah Brown</h3>
          <p>
            Noah is our Customer Experience Specialist, dedicated to ensuring
            every traveler feels valued. His attention to detail and commitment
            to service excellence make him the go-to person for all client
            inquiries and support.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="bi flex-shrink-0 me-3 teammate"
          style="background-image: url('images/teammate5.jpg')"
        ></div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">William Davis</h3>
          <p>
            William is our Sustainability Advocate, working tirelessly to
            implement eco-friendly practices in all our operations. His passion
            for the planet ensures that our adventures not only explore but also
            protect the ocean's beauty.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="bi flex-shrink-0 me-3 teammate"
          style="background-image: url('images/teammate6.jpg')"
        ></div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">James Wilson</h3>
          <p>
            James is our Logistics Manager, ensuring that every trip runs
            smoothly. His expertise in travel planning and coordination
            guarantees that our clients enjoy seamless experiences from start to
            finish.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="bi flex-shrink-0 me-3 teammate"
          style="background-image: url('images/teammate7.jpg')"
        ></div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Zane Martinez</h3>
          <p>
            Zane is our Community Engagement Officer, dedicated to building
            relationships with local communities at our destinations. His
            efforts ensure that our travelers experience authentic cultural
            interactions while supporting local economies.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="bi flex-shrink-0 me-3 teammate"
          style="background-image: url('images/teammate8.jpg')"
        ></div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Ethan Garcia</h3>
          <p>
            As our Lead Marine Biologist, Ethan brings a wealth of knowledge
            about ocean ecosystems. His passion for marine conservation drives
            our sustainable travel practices, ensuring that every adventure
            leaves a good impact on the environment.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>
