/*
 * Style Sheet
 *
 * Copyright © Vladislav Kazantsev
 * All rights reserved.
 * This code is the intellectual property of Vladislav Kazantsev.
 * You are welcome to clone the related repository and use the code for exploratory purposes.
 * However, unauthorized reproduction, modification, or redistribution of this code (including cloning of related repository or altering it for activities beyond exploratory use) is strictly prohibited.
 * Code snippets may be shared only when the original author is explicitly credited and a direct link to the original source of the code is provided alongside the code snippet.
 * Sharing the link to the file is permitted, except when directed toward retrieval purposes.
 * Any form of interaction with this file is strictly prohibited when facilitated by the code, except when such interaction is for discussion or exchange purposes with others.
 * This copyright notice applies globally.
 * For inquiries about collaboration, usage outside exploratory purposes, or permissions, please contact: hypervisor7@pm.me
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
}

body {
  line-height: 1.6; /* Set the line height for the element. */
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  color: #2a2a2a; /* Set the text color for the element. */
}

body:has(.caribbean) {
  background-image: url(../images/caribbean.jpg);
}

body:has(.pacific-northwest) {
  background-image: url(../images/pacific-northwest.jpg);
}

body:has(.mediterranean) {
  background-image: url(../images/mediterranean.jpg);
}

body:has(.hawaii) {
  background-image: url(../images/hawaii.jpg);
}

i {
  margin-right: 10px;
}

i.fa-bars {
  margin: 0;
}

/* The Navigation Bar Style Rules*/

.navbar-logo {
  padding: 15px;
  color: #ffffff;
}

.navbar-logo:hover {
  color: #ffffff;
}

.navbar-mainbg {
  -webkit-backdrop-filter: blur(6px) saturate(100%);
  backdrop-filter: blur(6px) saturate(150%) !important;
}

#navbarSupportedContent ul li a {
  color: #eeeeee;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.26, 1.55);
  position: relative;
}

/* #navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 20px;
  padding-right: 3px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  transition: 0.5s;
} */

#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

#navbarSupportedContent ul li a i {
  margin-right: 10px;
}

.nav-item {
  position: relative; /* Set the position for the element. */
}

.nav-link {
  color: #007bff; /* Set the color for the text of the element. */
  transition: color 0.3s; /* Set the transition for the element. */
}

.nav-link:hover {
  color: #0056b3; /* Set the color for the text of the element. */
}

.dropdown-menu {
  position: absolute !important;
  padding: 10px 0; /* Set the padding for the element. */
  border-radius: 8px; /* Set the radius for the border of the element. */
  z-index: 1000; /* Set the stacking order for the element. */
  background-color: #ffffff; /* Set the color for the background of the element. */
  box-shadow: 0 4px 20px #0000001a; /* Set the shadow for the element. */
}

.dropdown-item {
  padding: 10px 20px; /* Set the padding for the element. */
  color: #2e3a45 !important; /* Set the color for the text of the element. */
  transition: none; /* Set the transition for the element. */
}

.dropdown-item:hover {
  color: #007bff !important; /* Set the color for the text of the element. */
}

.dropdown-item:focus {
  outline: none; /* Set the outline for the element. */
  background-color: #e9ecef; /* Set the color for the background element. */
}

.hori-selector {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 10px;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #ffffff;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 10px;
  background-color: #ffffff;
}

.hori-selector .right {
  right: -25px;
}

.hori-selector .left {
  left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3570ff;
}

.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}

.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }

  .navbar-expand-custom .navbar-collapse {
    /* Use flexbox to center content inside the element. */
    display: -ms-flexbox !important; /* For Internet Explorer 10 (supports an earlier flexbox model. */
    display: -webkit-box !important; /* For earlier versions of Chrome and Safari (pre-flexbox). */
    display: flex !important; /* Standard syntax for modern browsers (widely supported). */
    flex-direction: row-reverse;
    flex-basis: auto;
    -ms-flex-preferred-size: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }

  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }

  .hori-selector .left {
    top: -25px;
    left: auto;
  }

  .hori-selector .right {
    bottom: -25px;
  }

  .hori-selector .left:before {
    top: -25px;
    left: -25px;
  }

  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}

/* The Container Style Rules. */

.container {
  margin: 5vh auto 0; /* Set the margin for the element. */
  padding: 0 20px 10vh; /* Set the padding for the element. */
  max-width: 800px; /* Set the maximum width for the element. */
  align-items: center;
  background-color: #ffffff; /* Set the background color for the element. */
  border-radius: 8px; /* Set the border radius for the element. */
  box-shadow: 0 4px 10px #0000001a; /* Set the shadow for the element. */
  /* Use flexbox to center content inside the element. */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  flex-direction: column;
  justify-content: center;
}

/* The Container Responsive Style Rules. */

@media (max-width: 1280px) {
  .container {
    padding: 0 20px 20vh; /* Set the padding for the element. */
  }
}

@media (max-width: 600px) {
  .container {
    margin: 0 auto; /* Set the margin for the element. */
    padding: 15px; /* Set the padding for the element. */
  }
}

ul {
  padding: 0;
}

.container.my-4 ul {
  padding: 35px 0 50px;
}

#testimonialCarousel {
  margin: 4vh 0;
  border-radius: 10px; /* Set the radius for the border of the element. */
  box-shadow: 0 4px 20px #0000001a; /* Set the shadow for the element. */
  overflow: hidden; /* Set the overflow for the element. */
  background-color: #f8f9fa; /* Set the background color for the element. */
}

.carousel-inner {
  padding: 20px; /* Set the padding for the element. */
}

.testimonial {
  border: none !important;
  padding: 0 37px !important;
  font-size: 1.2rem !important; /* Set the size for the font of the element. */
  text-align: center !important; /* Center the text for the element. */
  transition: none !important;
}

.testimonial:hover {
  background-color: #f8f9fa !important; /* Set the color for the background of the element. */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007bff; /* Set the color for the background of the element. */
  border-radius: 50%; /* Set the radius for the border of the element. */
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Set the width for the element. */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #007bff1a !important; /* Set the color for the background of the element. */
}

.carousel-item {
  transition: transform 0.5s ease; /* Set the transition for the element. */
}

.carousel-item.active {
  opacity: 1; /* Set the opacity for the element. */
}

#newsletter {
  border-radius: 10px; /* Set the radius for the border of the element. */
  padding: 50px; /* Set the padding for the element. */
  box-shadow: 0 4px 20px #0000001a; /* Set the shadow for the element. */
}

#newsletter h2 {
  font-size: 2rem; /* Set the size for the font of the element. */
  color: #007bff; /* Set the color for the text of the element. */
}

#newsletter p {
  font-size: 1.1rem; /* Set the size for the font of the element. */
  margin-bottom: 20px; /* Set the size for the bottom margin of the element. */
}

.form-control {
  border-radius: 20px; /* Set the radius for the border of the element. */
  border: 1px solid #007bff; /* Set the border for the element. */
}

.btn-primary {
  padding: 10px 20px; /* Set the padding for the element. */
  border-radius: 20px; /* Set the radius for the border of the element. */
}

.btn-primary:hover {
  background-color: #0057b3; /* Set the color for the background of the element. */
  border-color: #0057b3; /* Set the color for the border of the element. */
}

#custom-cards,
#badge-grid {
  padding: 5vh 25px 17.37vh !important; /* Set the padding for the element. */
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  color: #ffffff;
}

#badge-grid {
  padding: 50px; /* Set the padding for the element. */
  border-radius: 10px; /* Set the border radius for the element. */
  background-color: #ffffffcc; /* Set the background color for the element. */
  box-shadow: 0 8px 20px #00000037; /* Set the shadow for the element. */
}

@media (max-width: 600px) {
  #badge-grid {
    padding: 20px; /* Set the padding for the element. */
  }
}

#custom-cards p,
#badge-grid p,
#badge-grid h3 {
  color: #ffffff !important;
}

#badge-grid .col {
  margin: 10px; /* Set the margin for the element. */
  padding: 15px; /* Set the padding for the element. */
  align-items: center; /* Set the alignment for the items. */
  text-align: center; /* Set the alignment for the text. */
  border-radius: 10px; /* Set the border radius for the element. */
  box-shadow: 0 4px 10px #00000037; /* Set the shadow for the element. */
  background-color: #3577ffa7; /* Set the background color for the element. */
  transition: transform 0.25s, box-shadow 0.25s; /* Set the transition for the element. */
  /* Use flexbox to center content inside the element. */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  flex-direction: column; /* Set the directtion for the items. */
  align-items: center !important; /* Center align items horizontally. */
}

/* Hover Effect. */
#badge-grid .col:hover {
  transform: translateY(-5px); /* Lift effect on hover. */
  box-shadow: 0 12px 30px #00000037; /* Enhanced shadow on hover. */
}

/* Responsive Styles. */

@media (max-width: 1280px) {
  #custom-cards,
  #badge-grid {
    padding: 5vh 25px 15vh !important; /* Set the padding for the element. */
  }
}

@media (min-width: 992px) {
  .row-cols-lg-4 > * {
    width: calc(25% - 20px);
  }
}

@media (max-width: 600px) {
  .card {
    margin: 10px; /* Set the margin for the element. */
  }
}

@media (max-width: 600px) {
  #custom-cards,
  #badge-grid {
    padding: 7vh 25px 10vh !important; /* Set the padding for the element. */
  }
}

footer {
  position: relative;
  width: 100%;
  height: 21vh;
  padding: 20px 50px;
  background-color: #3586ff;
  color: #ffffff;
  /* Use flexbox to center content inside the element. */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 435px) and (max-width: 1000px) and (min-height: 435px) {
  footer {
    height: 25vh;
  }
}

@media (max-width: 1000px) and (max-height: 435px) {
  footer {
    height: 30vh;
  }
}

footer .social_icon,
footer .menu {
  position: relative;
  margin: 0;
  padding-top: 10px;
  /* Use flexbox to center content inside the element. */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  justify-content: center;
  align-items: center;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-15px);
  color: #0000ff;
}

footer a {
  font-size: 1em;
  color: #eeeeee;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer a:hover {
  opacity: 1;
  color: #ffffff;
}

/* The Wave Animation. */

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://i.ibb.co/rZt4Nhg/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 50px;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 50px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 50px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 50px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
